In [8]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [81]:
database = pd.DataFrame(columns=["species", "total_stocked"], data=None)

In [90]:
url = "https://www.ndow.org/wp-json/wp/v2/event/?topic_category=322&per_page=10&page=1"
response = requests.get(url)
response

In [80]:
database = pd.DataFrame(columns=["species", "total_stocked"])

In [96]:
database = pd.DataFrame(columns=["event_id", "species", "total_stocked"])

for item in response.json():
    event_id = item["id"]
    content = item["content"]["rendered"]
    soup = BeautifulSoup(content, "html.parser")
    
    for tag in soup:
        if tag.string != None:
            if "Stocked" in tag.string:
                data = {"event_id":[], "species":[], "total_stocked":[]}
                
                data["event_id"] = event_id
                
                total_stocked = tag.string.split(" ")[1]
                data["total_stocked"].append(total_stocked)
               
                try:
                    species = tag.string.split(" ")[2]
                except:
                    species = "NA"
                data["species"].append(species)
                
                temp_df = pd.DataFrame.from_dict(data)
                database = database.append(temp_df)
            elif "Length" in tag.string:
                data = {"event_id":[], "length":[]}
                
                data["event_id"] = event_id
                
                length = tag.string.split(" ")[1]
                data["length"].append(length)
                temp_df = pd.DataFrame.from_dict(data)
                print(temp_df)

   event_id length
0     11450   10.4
   event_id length
0     11449   10.3
   event_id length
0     11449    9.9
   event_id length
0     11449   10.3
   event_id length
0     11448   10.1
   event_id length
0     11448    9.7
   event_id length
0     11409     10
   event_id length
0     11447    9.1
   event_id length
0     11447   10.1
   event_id length
0     11407     10
   event_id length
0     11405    9.2
   event_id length
0     11404     10
   event_id length
0     11402     10
   event_id length
0     11398    9.2

/var/folders/z4/z_24d35100g77zf619tkcmfr0000gn/T/ipykernel_13047/2331141628.py:25: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  database = database.append(temp_df)
/var/folders/z4/z_24d35100g77zf619tkcmfr0000gn/T/ipykernel_13047/2331141628.py:25: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  database = database.append(temp_df)
/var/folders/z4/z_24d35100g77zf619tkcmfr0000gn/T/ipykernel_13047/2331141628.py:25: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  database = database.append(temp_df)
/var/folders/z4/z_24d35100g77zf619tkcmfr0000gn/T/ipykernel_13047/2331141628.py:25: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  database = database.append(temp_df)
/var/folders/z4/z_24d35100g77zf619tkcmfr0000gn/T/ipykernel_13047/2331141628.py:25: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  database = database.append(temp_df)
/var/folders/z4/z_24d35100g77zf619tkcmfr0000gn/T/ipykernel_13047/2331141628.py:25: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  database = database.append(temp_df)
/var/folders/z4/z_24d35100g77zf619tkcmfr0000gn/T/ipykernel_13047/2331141628.py:25: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  database = database.append(temp_df)
/var/folders/z4/z_24d35100g77zf619tkcmfr0000gn/T/ipykernel_13047/2331141628.py:25: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  database = database.append(temp_df)
/var/folders/z4/z_24d35100g77zf619tkcmfr0000gn/T/ipykernel_13047/2331141628.py:25: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  database = database.append(temp_df)
/var/folders/z4/z_24d35100g77zf619tkcmfr0000gn/T/ipykernel_13047/2331141628.py:25: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  database = database.append(temp_df)
/var/folders/z4/z_24d35100g77zf619tkcmfr0000gn/T/ipykernel_13047/2331141628.py:25: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  database = database.append(temp_df)
/var/folders/z4/z_24d35100g77zf619tkcmfr0000gn/T/ipykernel_13047/2331141628.py:25: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  database = database.append(temp_df)
/var/folders/z4/z_24d35100g77zf619tkcmfr0000gn/T/ipykernel_13047/2331141628.py:25: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  database = database.append(temp_df)
/var/folders/z4/z_24d35100g77zf619tkcmfr0000gn/T/ipykernel_13047/2331141628.py:25: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  database = database.append(temp_df)

In [97]:
database

  event_id  species total_stocked
0    11450    Tiger          1750
0    11449    Brown           805
0    11449    Brown           702
0    11449  Rainbow           507
0    11448  Rainbow           360
0    11448  Rainbow           680
0    11409  Rainbow           750
0    11447    Brown           507
0    11447  Rainbow          1257
0    11407    Brown           504
0    11405    Brown           317
0    11404    Tiger           252
0    11402    Tiger           252
0    11398    Brown           317

In [67]:
for n in range(1, 20):
    url = "https://www.ndow.org/wp-json/wp/v2/event/?topic_category=322&per_page=100&page={}".format(n)
    response = requests.get(url)
    
    if response.status_code == 200:
        print(response.status_code)       
    else:
        print("404")
        break

200
200
404